.navbar{
    padding-top: 1rem!important;
    position: fixed!important;
    width: 100%;
}
.navbar .navbar-collapse{
    justify-content: space-between!important;
    gap: 28rem!important;

}
.nav-link{
    color: white!important;
}
.navbar .navbar-nav{
    width: 40%!important;
}
.navbar .nav-item{
    color: white!important;

}
.navbar .form-inline{
    display: flex!important;
    width: 50%!important;
    gap: 0.5rem;

}
.navbar .search-icon{
    position: absolute;
    color: white;
    right: 35%;
}
.navbar .form-control{
    background-color: #ffffff75!important;
    border: 1px solid white!important;
    width: 60%!important;
    padding-left: 2rem!important;
    align-items: center;
    
}
.navbar .form-control::-webkit-input-placeholder{
    color: white!important;
    
}
.navbar .btn{
    color: white!important;
    background-color: transparent!important;
    border: 1px solid white!important;
}
.navbar .sign-up{
    border: none!important;

}